// You can add your own custom SCSS here.

:root {
  --bg-main: #e8accf;
  --header-height: 0px;
  --color-title: #ffffff;
  --color-text: #000;
  --color-link: #2d28bf;
  --primary: #2d28bf;
}
.site-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 3rem;
}
.menu-item svg {
  color: #fff
}
