// You can add your own custom SCSS here.

:root {
  --bg-main: #fff;
  --header-height: 0px;
  --color-title: #000;
  --color-text: #000;
  --color-link: #7C8BAB;
  --primary: #fff;
  --aside-width: 300px;
  --color-border: #000;
  --color-border-inset: #000;
}
.site-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: bold;
}
.menu-item svg {
  color: #000
}

.menu-link.is-active {
  color: var(--primary);
}

.menu-link.is-active::before {
  background-color: var(--primary);
}


.container {
  padding-left: 0px;
  padding-right: 0;
  max-width: none;
}

.doc {
  grid-template-columns: 20% minmax(0, 1fr);
}

@media (min-width: /* whatever pixel value breakpoint(l) resolves to */) {
  .doc {
    grid-template-columns: 20% minmax(0, 1fr);
  }
}

.aside {
  background-color: #ffcce6;
  padding-left: 2rem;
    &-menu {
      padding-right: 1.5rem;
    }
}

.aside-tree {
  // use this for the sidebar title's padding-top
  padding-top: 2rem;
}

a {
  transition: none;
}

.header {
  display: none;
}
.main {
  border-left: 3px solid var(--color-border);
}

.main-index {
  grid-template-columns: minmax(0, 1fr) 25%;
}


.toc {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffcce6;
    z-index: -1;
  }
}

.toc-title {
  text-decoration: underline;
}

.toc-content {
  box-shadow: 3px 0 0 0 var(--color-border) inset;
  height: 100%;
  background-color: #ffcce6;
  padding-bottom: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.toc-content nav a.is-visible {
  box-shadow: 0px 0 0 0 var(--color-border) inset;
}

.toc-content::-webkit-scrollbar {
  display: none;
}

.article {
  &-title {
    font-size: 1.5rem;
  }
} 

// markdown

.markdown {
  --space-block: .25rem;
}

.markdown h1 {
}

.markdown h2 {
  font-size: 1.5rem;
}

.markdown img {
  max-width: 500px;
  height: auto;
  border-radius: 0rem;
  margin: 1.5rem auto;
}

.markdown a:has(> img) {
  display: table;
  margin: 0 auto;
}

.markdown iframe[title="YouTube video"] {
  border-radius: 0rem;
}

.markdown div:has(> iframe[title="YouTube video"]) {
  position: relative !important;
  padding-bottom: 0 !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
  max-width: 500px;
  width: 100%;
  margin: 1.5rem auto;
}

.entry-divider {
  border-bottom: 3px solid var(--color-border);
}

.page-intro {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--color-border);
  margin-top: 0px;
}

.article-header {
  margin-top: -16px;
}

.page-intro .article-title {
  margin-bottom: 1rem;
}

// home entries / aggregate of all

.home-entry {
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  padding-right: 8rem;
}

.home-entry.entry-divider {
  border-bottom-width: 1px;
}

.home-entry-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.home-entry-title {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.home-entry-author {
  font-weight: 400;
}


.home-entry-date {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-meta);
  font-size: 0.875rem;
}

.home-entry-tag {
  font-size: 1rem;
  color: var(--color-title);
  white-space: nowrap;
  text-decoration: underline dotted;
}

.home-entry-tag[href^="/reading/"] {
//  color: #7C8BAB;
//  text-decoration: underline #7c8bab;
}

.home-entry-tag[href^="/blog/"] {
//  color: #b87c8b;
//  text-decoration: underline #b87c8b;
}


// reading list / book entries



.book-entry {
  display: flow-root;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
//  border-bottom: 3px solid var(--color-border);
  position: relative;
}

.book-date {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-meta);
  font-size: 0.875rem;
  text-decoration: underline;
}

.book-cover {
  float: left;
  width: 150px;
  margin-right: 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 0rem;
  box-shadow: var(--shadow-md);
}

.book-title {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0.25rem;
  font-style: italic;
}

.book-author {
  color: var(--color-text);
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.book-year {
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  background-image: linear-gradient(to right, transparent 170px, var(--color-border) 30px);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}


// blog list / blog entries

.blog-entry {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
//  border-bottom: 3px solid var(--color-border);
}

.blog-title {
  border-top: none;
  padding-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

.blog-date {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-meta);
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

// toc custom content (links page)

.toc-custom-content {
  padding: 3rem 1rem;
  text-align: center;
}

.toc-custom-image {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 1rem auto;
  display: block;
}
