{{ define "main" }}
<div class="doc container" id="doc">
  <aside class="aside" id="docs-sidebar">
    {{ partial "sidebar" . }}
  </aside>
  <main class="main main-index">
    <article class="article article-body fs-6">
      <div class="page-intro">
        <h1 class="article-title">{{ .Params.pageHeading | default .Title }}</h1>
        <div class="markdown">
          {{ .Content }}
        </div>
      </div>

      {{ $posts := sort .Pages "Date" "desc" }}
      {{ range $posts }}
        <section class="blog-entry">
          <h2 class="blog-title" id="{{ .File.ContentBaseName }}">{{ .Title }}</h2>
          <p class="blog-date">{{ .Date.Format "2006-01-02" }}</p>
          <div class="blog-body markdown">
            {{ .Content }}
          </div>
        </section>
      {{ end }}
    </article>
    <aside class="toc">
      <div class="toc-content scrollable">
        <div class="toc-title has-icon fs-6 fw-500">
		<!-- {{ partial "svg" (dict "icon" "grip-vertical") }} -->
          posts
        </div>
        <nav>
          <ul>
            {{ range $posts }}
              <li><a href="#{{ .File.ContentBaseName }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </aside>
  </main>
</div>
{{ end }}
