{{ define "main" }}
<div class="doc container" id="doc">
  <aside class="aside" id="docs-sidebar">
    {{ partial "sidebar" . }}
  </aside>
  <main class="main main-index">
	<article class="article article-body fs-6" data-i18n='{{ (dict "copy" (i18n "copy") "copied" (i18n "copied")) | jsonify }}'>
      <div class="page-intro">
        <h1 class="article-title">{{ .Params.pageHeading | default .Title }}</h1>
        <div class="markdown">
          {{ .Content }}
        </div>
      </div>
      {{ $entries := where .Site.RegularPages "Section" "in" (slice "reading" "blog") }}
      {{ $entries = sort $entries "Date" "desc" }}
      {{ range $entries }}
        {{ $anchor := printf "%s#%s" .Parent.RelPermalink .File.ContentBaseName }}
        <section class="home-entry entry-divider">
          <p class="home-entry-date">{{ .Date.Format "2006-01-02" }}</p>
          <h2 class="home-entry-title">
            <a href="{{ $anchor }}">
              {{ .Title }}{{ with .Params.author }} - <span class="home-entry-author">{{ . }}</span>{{ end }}
            </a>
          </h2>
          <a class="home-entry-tag" href="{{ $anchor }}">{{ .Parent.RelPermalink }}</a>
        </section>
      {{ end }}
    </article>
    <aside class="toc">
	{{ partial "toc" . }}
    </aside>
  </main>
</div>
{{ end }}
