{{ $redirectUrl := "" }}
{{ if .Page.Params.redirect }}
  {{ $redirect := (strings.TrimPrefix "/" .Page.Params.redirect) }}
  {{ $redirectUrl = ref . $redirect }}
{{ else if .Page.Params.redirect_latest }}
  {{ with (sort .Page.Pages "Date" "desc") }}
    {{ $redirectUrl = (index . 0).RelPermalink }}
  {{ end }}
{{ end }}
<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Redirecting...</title>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="{{ $redirectUrl }}">
    <meta http-equiv="refresh" content="0; url={{ $redirectUrl }}">
    <style>
      html, body { background-color: #fff; margin: 0; }
    </style>
  </head>
</html>
