<div class="aside-tree scrollable">
<h1 class="site-title">{{ .Site.Title }}</h1>
  <div class="aside-menu fw-500">
    {{- with .Site.Home -}}
      {{ template "tree-list" (dict "Section" . "CurrentPage" $) }}
    {{ end }}
  </div>
</div>
{{ define "tree-list" }}
  {{ $currentNode := .CurrentPage }}
  <ul class="menu-list">
    {{ range (where .Section.Pages "Params.hidden" "ne" true) }}
      <li class="menu-item{{if or (eq $currentNode .Page) (.IsAncestor $currentNode )}} is-parent{{end}}">

        {{ $hasVisibleChildren := gt (len (where .Pages "Params.hidden" "ne" true)) 0 }}
        {{ if and .IsSection $hasVisibleChildren }}

          {{- if .Page.IsSection -}}
            <input class="menu-toggle" type="checkbox" id="menu-{{ md5 .Page }}"{{if or (eq $currentNode .Page) (.IsAncestor $currentNode )}} checked=""{{ end }}>
          {{ end }}

          {{ template "tree-link" (dict "Page" . "CurrentPage" $.CurrentPage "IsExpandable" true) }}
          {{ template "tree-list" (dict "Section" . "CurrentPage" $.CurrentPage ) }}
        {{ else }}
          {{ template "tree-link" (dict "Page" . "CurrentPage" $.CurrentPage "IsExpandable" false) }}
        {{ end }}

      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "tree-link" }}
  {{- if .IsExpandable -}}
    <label for="menu-{{ md5 .Page }}" class="menu-label">
  {{ end }}

  <a href="{{ .Page.Permalink }}" data-name="{{ .Page.File.ContentBaseName }}" class="menu-link fs-6{{ if (eq .CurrentPage .Page) }} is-active{{ end }}{{ with .Page.Params.icon }} has-icon{{ end }}">
    {{ partial "svg" (dict "icon" .Page.Params.icon ) }}
    {{- partial "title" .Page -}}

    {{- if eq .Page.Params.badge true -}}
      {{- $badgeText := default site.Params.badge_text .Page.Params.badge_text -}}
      {{- $badgeText = default (i18n "new") $badgeText -}}

      <span class="badge">{{ $badgeText }}</span>
    {{- end -}}
  </a>

  {{- if .IsExpandable -}}
    {{ partial "svg" (dict "icon" "chevron-down" "class" "menu-arrow" ) }}
  {{ end }}

  {{- if .IsExpandable -}}
    </label>
  {{ end }}
{{ end }}
